//基础的样式文件，对一像素边框做了适配处理
body,html{
    font-weight: 200;
    font-family: 'PingfanSc',Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
//层叠样式覆盖header中得tab得after伪类样式
@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
    .border-1px{
        &:after{
            -webkit-transform: scaleY(0.7);
           transform: scaleY(0.7);
        }
    }
}
@media (-webkit-min-device-pixel-ratio:2.0),(min-device-pixel-ratio:2.0){
    .border-1px{
        &:after{
            -webkit-transform: scaleY(0.5);
           transform: scaleY(0.5);
        }
    }
}